<div class="section" id="certificate">
    <div class="container cc-reference">
      <div class="h4 mb-4 text-center title">Training and Certificates</div>
      <div class="card" data-aos="zoom-in">
        <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
          <ol class="carousel-indicators" style="bottom: -27px">
            <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
            <li data-target="#cc-Indicators" data-slide-to="1"></li>
           
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header">
                  <img src="assets/images/Angular.png" alt="Image" />
                  <div class="certificate-link"><a href="assets/images/Angular.png" data-lightbox="certificate" data-title="Certificate of Training - UI/UX Design(Internshala)" style="color: #7952b3; font-weight:bold;">🔗Certificate</a></div>

                </div>
                <div class="col-lg-10 col-md-9">
                  <div class="h4 mt-0 title">Angular Live Classes With Project</div>
                  <div class="topics-covered">Major Topics Covered In Training</div>

                  <div>
                    <ul>
                      <li *ngFor="let m of angularTopics | split">{{m}}</li>
                    </ul>
                  </div>
               
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header">
                  <img src="assets/images/WebDevelopement.png" alt="Image" />
                  <div class="certificate-link"><a href="assets/images/WebDevelopement.png" data-lightbox="certificate" data-title="Certificate of Training - UI/UX Design(Internshala)" style="color: #7952b3; font-weight:bold;">🔗Certificate</a></div>
                  

                </div>
                <div class="col-lg-10 col-md-9">
                  <div class="h4 mt-0 title">Complete Web Developement Live Class With Project</div>
                  <div>
                    <div class="topics-covered">Major Topics Covered In Training</div>
                    <ul>
                      <li *ngFor="let m2 of webdevelopementTopics | split">{{m2}}</li>
                    </ul>
                  </div>
               
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
